.fondo_imagen{
    /* maysketchaday___19_by_fabianrensch_da38k3z 2 */
    
    
    width: 100%;
    height: 1024px;
    
    background-image: url("https://raw.githubusercontent.com/JuanBenitez2600/imagenes/main/fondo.png");
    }



    #Rectangle_5{
    /* Rectangle 5 */
    
    width: 50%;
    height: 150%;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    color: #39344F;
    
    background: #46BC8B;
    box-shadow: 0px 0px 14px 5px rgba(57, 52, 79, 0.8);
    border-radius: 4px;
    }
    .boton_iniciar{
    /* Btn iniciar */
    
    
    width: 34%; 
    height: 150%;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    
    color: #39344F;
    
    background: #46BC8B;
    box-shadow: 0px 0px 14px 5px rgba(57, 52, 79, 0.8);
    border-radius: 4px;
    }
    .recntagle_usuario{
    /* Rectangle  */
    
    
    width: 34%;
    height: 150%;

    
    background: #46BC8B;
    box-shadow: 0px 0px 14px 5px rgba(57, 52, 79, 0.8);
    border-radius: 4px;
    }
    .boton_cerrar_sesion{
    /* Rectangle 5 */
    
    
    width: 34%;
    height: 150%;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    
    color: #39344F;
    
    background: #46BC8B;
    box-shadow: 0px 0px 14px 5px rgba(57, 52, 79, 0.8);
    border-radius: 4px;
    }
    .recntagle_usuario2{
    /* Rectangle 5 */
    
    

    
    background: #46BC8B;
    box-shadow: 0px 0px 14px 5px rgba(57, 52, 79, 0.8);
    border-radius: 4px;
    }
#probado{
    
    }
.titulo{
    font-family: 'Alagard';
    font-style: normal;
    font-weight: 500;
    font-size: 128px;
    line-height: 132px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  
    border: 4px solid #39344F;
    text-shadow: 0px 11px 4px #39344F;
  }
